* {
    box-sizing: border-box;
  }
body{
    background-color: white;
    border: 5px solid black;
    box-shadow: 1px 1px 10px 10px black;
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
header{
    background-image:-webkit-linear-gradient(45deg,white,green 70% ,black);
    background-image:-moz-linear-gradient(45deg,white,green 70% ,black);
    border-bottom: 2px solid black;
    margin-top: -22px;
}
header img{
    float: left;
    width: 80px;
    margin-top: 10px;
    margin-left: 6px;
}
#h1{
    margin-left:100px;
    padding-top: 15px;
    font-weight:800;
    
}
#h3{
    font-weight: 700;
    margin-left:150px;
    margin-top:-20px
}


aside{
    float: left;
    width: 20%;
    margin-bottom: 10%;
    margin-top: 3%;
}
aside li{
    margin-bottom: 2%;
    list-style: none;
}
aside li a{
    text-decoration: none;
}
aside ul{
    width: 10em;
}
aside ul li{
    border: 2px solid black;
    margin: 10%;
    padding: 0.8em;
    background-color: orange;
}
aside ul li a{
    color: black;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    margin-left: -0.3em;
}
#first{
    font-size: 139%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
#first::first-letter{
    font-size: 2.8em;
}
ul li a{
    color: orange;
    line-height: 120%;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
        color:green;
}

.main li{
    list-style-type: none;
}
.main a{
    color: orange;
    font-weight: bold;
}
.main a:hover{
    color:green;
}

/*Navbar css*/
.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #aaa;
    color: black;
  }
  
  .topnav a.active {
    background-color: orange;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 767px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/*css*/
  .menu {
    float: left;
    width: 20%;
  }
  .menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
  }

  
  @media only screen and (max-width:800px) {
    /* For tablets: */
    article {
      width: 50%;
      padding: 0;
    }
 
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, article{
      width: 100%;
    }
    /*title css*/
    .title h2{
        font-size: 150%;
    }
    .title h3{
        font-size: 90%;
    }
    .title img{
        padding-right: 1em;
        margin-top: .8em;
    }
  }

  @media only screen and (max-width:767px) {
    .menu, article {
        width: 100%;
      }
    aside{
       margin-left: 145px;
    }
    aside ul{
        width: 25em;
    }
    aside ul li a{
        font-size: 1.4em;
        margin-left: 3.5em;
    }
    .title{
        padding:10px;
        height: 110px;
    }
    .title img{
        margin-top: -1px;
        padding-right: 1em;
        padding-left: 1em;
    }
    .title h2{
        font-size: 200%;
        margin-top: -1px;
    }
    .title h3{
        font-size: 1.3em;
        font-weight: 1000;
        margin-left: 100px;
    }
    article{
       padding-left: 120px;
        font-size: 120%;
    }
  }
  @media only screen and (max-width:600px){
    aside{
        margin-left: 40px;
    }
    .title h2{
        font-size: 160%;
    }
    .title h3{
        font-size: 120%;
    }
  }
  @media only screen and (max-width:800px) {
    html{
        background-image: none;
    }
    body{
        box-shadow: none;
        font-size: 90%;
    }


  }
  @media screen and (max-width:479px) {
    .title h2{
        font-size: 160%;
    }
    .title h3{
        font-size: 120%;
    }
    article{
        padding-left: 20px;
        font-size: 90%;
    }
    aside{
        margin-left: 3.5em;
    }
    aside ul{
        width: 16em;
    }
    aside ul li a{
        font-size: 1.2em;
        margin-left: 1.6em;
    }

  }

  @media screen and (max-width:665px) {
    article{
        margin-left: 40px;
    }
    aside{
        margin-left: 80px;
    }
  }
  @media screen and (max-width:450px) {

    .title h2{
        font-size: 140%;
    }
    .title h3{
        font-size: 110%;
    }
    aside{
        margin-left: 30px;
    }
    article{
        margin-left: 14px;
    }
  }
/*mobile size css*/
  @media screen and (max-width:930px) {
    .title h2{
        margin-top: 10px;
    }
    .title h3{
        font-size: 100%;
    }
    .title img{
        margin-top: 4px;
    }
    article{
        margin-top: -5px;
        margin-left: 1px;
    }
 
  }
  aside {
	width: 215px;
	float: left;
	padding: 0 0 20px 20px;
}

aside h3 {
	font-size: 110%;
	padding-bottom: .25em;
}
aside img {
	 padding-bottom: .9em; 
    width: 100px;
}
article{
	column-count: 2;
	margin: 5px;
}
article p {
	/* padding-bottom: 1em;
	padding: .3em; */
	/* margin-left: 20px;	 */
    font-size: 20px;
}
  .responsive{
    max-width: 100%;
    height: auto;
  }
  footer {
    background-color: #931420;
    clear: both;
      background-image:-webkit-linear-gradient(45deg,white,green 70% ,black);
      background-image:-moz-linear-gradient(45deg,white,green 70% ,black);
      border-top: 2px solid black;
      margin-top: -22px;
  }
  footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
      text-align: center;
      font-weight: bolder; 
  }